# Getting started with Python in Jupyter

Welcome to the first week of the course. By the end of this week, you should acquire:

**Knowledge on:**
* Programing language: definition
* Differences between programming langauges and software
* Computational Communication Science as a subdiscipline
* Data types and data structures

**Skills on:**
* Using Jupyter Lab
* Writing in Markdown
* Choosing the right data type
* Transforming unstructured data in structured

## Using Jupyter Notebook and Jupyter Lab

In [ ]:
#headings

# This is a first level heading

In [ ]:
#special characters

**This is bold**

## Data types

### Floats and Integers

Starting from the basics, we have integers or floats. They are... numbers. The difference is that integers are whole numbers, and floats allow for decimals.

In [44]:
#examples
#integer
5

5

In [45]:
#float
5.5

5.5

In [46]:
#operations
5+5.5

10.5

### Strings

Strings are pieces of text and are **always** surrounded by either a single quote (') or a double-quote(")

In [47]:
#examples
"This is a string"

'This is a string'

In [48]:
#operations
"Add a sentence " + "to a sentence"

'Add a sentence to a sentence'

### Booleans: True, False

This datatype can take one of two values: True and False

It is important to know them for two reasons:
1. They will be used in later in conditions (we'll get into that later)
2. You cannot use True, False as a variable name (we'll get into that later as well)

In [49]:
#examples
True

True

## Data structures

### Objects
In Python, an object can be seen as a "space" in memory that can hold a specific value.

In [72]:
#examples
a=5
b=7

In [73]:
type(a)

int

In [74]:
type(b)

int

In [ ]:
#adding objects (ints, strings)

In [51]:
a+b

12

In [ ]:
#changing objects

In [52]:
a=7

In [53]:
a+b

14

## Lists

Another interesting concept in Python is the ability to create lists. Lists are what their name says... a list of items.

In [57]:
#list of strings
myitems = ['First item', 'Second item', 'Third item', 'Fourth item', 'Fifth item']

In [58]:
#access 0th element
myitems[0]

'First item'

In [61]:
#access 4th element
myitems[4]

'Fifth item'

In [62]:
#appned 7 (meaning add 7 to list)
myitems.append(7)

In [63]:
myitems

['First item', 'Second item', 'Third item', 'Fourth item', 'Fifth item', 7]

In [24]:
#list of lists - each element of the list is a list
listoflists = [[1987,82], [7643,35], [7633,67]]

[[1987, 82], [7643, 35], [7633, 67]]

In [64]:
#Insert "Zero item" at position 0
myitems.insert(0,"Zero item")

In [65]:
myitems

['Zero item',
 'First item',
 'Second item',
 'Third item',
 'Fourth item',
 'Fifth item',
 7]

In [67]:
#Remove element at position 0
myitems.pop(0)

'Zero item'

In [68]:
myitems

['First item', 'Second item', 'Third item', 'Fourth item', 'Fifth item', 7]

In [32]:
#Operations on a list if lists
grades = [6,7,5,6,8,7,6,8,6]

In [35]:
#What is average grade?
sum(grades)/len(grades)

6.555555555555555

## Dictionaries

A very handy concept in Python is the option to create dictionaries. As you have noticed with lists and tuples, you can only access items by their location - so you need to know if they are the first, second, third element in the list to be able to get their value.

With dictionaries, we can store information with keys. So instead of accessing something by their location (or position), we find it by its key.

In [69]:
#examples
world_capitals = {
    'Netherlands': 'Amsterdam',
    'Germany' : 'Berlin',
    'Italy' : 'Rome',
    'France' : 'Paris',
    'UK' : 'London',
    'US': 'Washington',
    'China': 'Beijing'
}

In [71]:
#print keys
world_capitals.keys()

dict_keys(['Netherlands', 'Germany', 'Italy', 'France', 'UK', 'US', 'China'])

In [38]:
#print values
world_capitals.values()

dict_values(['Amsterdam', 'Berlin', 'Rome', 'Paris', 'London', 'Washington', 'Beijing'])

In [ ]:
#extending dictionary

In [39]:
nvisits = {'Jonny': 3,
         'Maarten': 5,
         'Rob': 3,
         "Marthe": 7,
         "Fabio": 8}

In [41]:
#Add key "John" and assiciated with it value 5 to the dictiornay nvisits
nvisits['John'] = 5

In [42]:
nvisits

{'Jonny': 3, 'Maarten': 5, 'Rob': 3, 'Marthe': 7, 'Fabio': 8, 'John': 5}

In [43]:
#Erorr when calling non-existing key
nvisits['Anne']

KeyError: 'Anne'